@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@200;400;600&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #fdf0d5;
  font-family: "Montserrat", sans-serif;
  color: #d64933;
}
/* Header */
.head {
  height: 12vh;
  background-color: #36382e;
  color: #fdf0d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px black solid;
}
.head h1 {
  font-family: "Courgette", cursive;
  font-size: 5rem;
  margin: auto 2%;
  padding-top: 1%;
}
nav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
nav a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fdf0d5;
}

/* Forms */
.loginBox {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.mainForm {
  border: 2px solid black;
  border-radius: 25px;
  width: 15%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #fdf0d5;
}

.mainForm h2 {
  font-family: "Courgette", cursive;
  text-align: center;
  font-size: 2rem;
  margin: 1%;
}

.item {
  margin: 10% auto;
}
.itemSub {
  display: flex;
  justify-content: center;
}
.itemSub button {
  margin-top: 5%;
  font-size: 1.2rem;
  width: 50%;
}

.errorMsg {
  font-size: 0.8rem;
  color: #d64933;
}

/* Main Body */
.mainBody {
  padding-top: 2%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.mainBody h2 {
  font-size: 2rem;
  color: white;
  margin: 2% 0;
}
.mainBody img {
  width: 50%;
  border-radius: 20px;
}

/* Event Body */
.eventBody {
  border: 2px solid black;
  color: black;
  border-radius: 25px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #fdf0d5;
}
/* .eventBody div {
  border: 1px solid black;
} */
.divH2 {
  padding: 1%;
  border-bottom: 2px black solid;
  display: flex;
  justify-content: start;
  flex-flow: row nowrap;
  background-color: #36382e;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.eventBody h2 {
  font-family: "Courgette", cursive;
  padding-left: 2%;
  font-size: 4rem;
  color: #000;
}
.infoBox {
  padding: 1%;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}
.eventBody p {
  padding: 2%;
  font-size: 1.5rem;
}

/* Event Form */
.eventForm {
  border: 2px solid black;
  color: black;
  border-radius: 25px;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #36382e;
  margin: 2%;
}

.eventForm h2 {
  font-family: "Courgette", cursive;
  margin: 2% auto;
  font-size: 4rem;
  color: #000;
}
.eventFBox {
  background-color: #fdf0d5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  padding: 5%;
}

.eventItem {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  margin: 4%;
  padding-bottom: 5%;
}
.eventItemSub button {
  margin-bottom: 10%;
  font-size: 1.2rem;
  width: 50%;
}
.eventFBox input {
  margin-top: 4%;
}

/* Profile */
.profile-card {
  text-align: center;
  border: 2px solid black;
  color: black;
  border-radius: 25px;
  width: 25%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: #36382e;
  margin: 2%;
}
